# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
/vendor/
*.test
*.out

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker volumes
rabbitmq_data/
redis_data/
